/* Add additional stylesheets below
-------------------------------------------------- */

@font-face {
    font-family: digital;
    src: url('digital-7.ttf');
 }

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}

.hidden {
    display: none;

}

.button {
    width: 100px;
    height: 100px - 100px/10;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    background: #f74d4d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f74d4d), color-stop(100%, #f86569));
    background-image: -moz-gradient(linear, left top, left bottom, color-stop(0%,#f74d4d), color-stop(100%,#f86569));
    box-shadow: 0 10px #e24f4f;
    &:active {
        box-shadow: 0 0 #e24f4f;
        .translate(0px, 15px);
        .transition( 0.1s all ease-out);
    }

}
.translate (@x, @y:0) {
  -webkit-transform: translate(@x, @y);
  -moz-transform:    translate(@x, @y);
  -ms-transform:     translate(@x, @y);
  -o-transform:      translate(@x, @y);
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
   transition:        @transition;
}

#place_minesweeper {
    top: 250px;
    left: 100px;
}

#place_destroyer {
    top: 250px;
    left: 200px;

}

#place_battleship {
    top: 420px;
    right: 105px;
}

#is_vertical {
    top: 420px;
    right: 5px;
}

.myText {
    width: 180px;
    border: 0;
    font-size: 14pt;
    font-weight: bold;
    outline: none;
}

input {
    min-width:30px;
    max-width:99.99%;
    transition: width 0.25s;
    text-align:center;
}

.myText:hover {
    background-color: antiquewhite;
}

::placeholder {
    color: grey;
}

.container1 {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    width: 1175px;
}
