<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">

<h1 style="margin: 0; text-align: center; font-size: 40pt;">Battleship</h1>
<hr>

<div class="container1">

    <div style="flex: 1;">
        <div style="text-align: center; font-size: 20pt;">ATTACK LOG</div>
        <div style="height:200px; font:20px Georgia, Garamond, Serif; overflow:auto;">
            As you can see, once there's enough text in this box, the box will grow scroll bars... that's why we call it a scroll box! You could also place an image into the scroll box.
            As you can see, once there's enough text in this box, the box will grow scroll bars... that's why we call it a scroll box! You could also place an image into the scroll box.
            As you can see, once there's enough text in this box, the box will grow scroll bars... that's why we call it a scroll box! You could also place an image into the scroll box.
            As you can see, once there's enough text in this box, the box will grow scroll bars... that's why we call it a scroll box! You could also place an image into the scroll box.
            As you can see, once there's enough text in this box, the box will grow scroll bars... that's why we call it a scroll box! You could also place an image into the scroll box.
            As you can see, once there's enough text in this box, the box will grow scroll bars... that's why we call it a scroll box! You could also place an image into the scroll box.
        </div>
    </div>

    <div style="flex: 1;">
        <div>
            <fieldset style = "margin: auto; width:300px; height: 35px; border: 0; ">
                <p>
                    <input type = "text" id = "Text2" placeholder= "Enter enemy's name" class= "myText" />
                    <b style="font-size: 14pt; "> 's Sea </b>
                </p>
            </fieldset>
            <table align="center" id="opponent" class="battleGrid"></table>
        </div>

        <div style="text-align: center; font-size: 20pt;">OPPONENT'S TURN</div>

        <div>
            <fieldset style = "margin: auto; width:300px; height: 35px; border: 0;">
                <p>
                    <input type = "text" id = "Text1" placeholder = "Enter your name" class= "myText" />
                    <b style="font-size: 14pt; "> 's Sea </b>
                </p>
            </fieldset>
            <table align="center" id="player" class="battleGrid"></table>
        </div>

    </div>

    <div style="flex: 1; padding-top: 480px; border: black;">
            <li><button id="place_minesweeper">Place Minesweeper</button></li>
            <li><button id="place_destroyer">Place Destroyer</button></li>
            <li><button id="place_battleship">Place Battleship</button></li>
            <li><input type="checkbox" id="is_vertical">Vertical</input></li>
    </div>

</div>

<div><input type="button" value="Restart Game" onClick="window.location.reload()" style="float: right;"></div>
<br>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>