<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>The Battleship game</h1>

<table id="opponent" class="battleGrid">
</table>

<table id="player" class="battleGrid">
</table>

<div id="button_panel">
    <button id="place_minesweeper" class="button">Minesweeper</button>
    <button id="place_destroyer" class="button">Destroyer</button>
    <button id="place_battleship" class="button">Battleship</button>
    <input type="button" id="is_vertical" class="button" value="Vertical">
</div>
<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>